.THIS .slds-button__icon
{
    color: #4b6bdf;
}
.THIS .que
{
    width: 100%;
}
.THIS .rtling
{
    direction: rtl !important;
}

.THIS h2
{
    font-family: Assistant !important;
}
/* 
.THIS .ql-direction-rtl {
    font-weight:bold !important;
    font-size: 22px !important;
    font-family: Assistant !important;
    margin-bottom: 0% !important;
} */

.THIS .mainCaption {
    /* @noflip */direction: rtl;
    font-size: 2em;
    font-weight: 500;
    font-family: sans-serif;
}

.THIS .caption {
    /* @noflip */direction: rtl;
    font-size: 1.3em;
    font-weight: 500;
    font-family: sans-serif;
}

.THIS .captionText {
    padding-right: 8px;
    cursor: pointer;
}

.THIS .details {
    padding-right: 22px;
    font-size: 0.8em;
}

.THIS .bottomLine{
    padding: 16px; 
    border-bottom: 1px solid #000;
}

.THIS .justcenter {
    justify-content: center;
}


.THIS .hidden {
    display: none;
}

@media only screen and (max-width: 991px) {
	.THIS .search {
        
            width:90%; 
            padding-right:10%;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {	
    .THIS .search {
        width:80%; 
        padding-right:20%;
    }
}

/* Small devices (cellphones) */
@media only screen and (max-width: 600px) {	   
    .THIS .search {
        width:96%; 
        padding-right:4%;
        margin-top:0%;
        padding-bottom:1%;            
    }
}


@font-face {
    font-family: 'Assistant';
    src: url(/resource/AssistantFont/Assistant-Light.woff2);
  }