@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../webfonts/fa-brands-400.eot?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h");
  src: url("../webfonts/fa-brands-400.eot?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("woff2"), url("../webfonts/fa-brands-400.woff?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("woff"), url("../webfonts/fa-brands-400.ttf?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("truetype"), url("../webfonts/fa-brands-400.svg?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h#fontawesome") format("svg");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}