.THIS , .THIS:hover , .THIS:focus {
    text-align: center;
    text-decoration: none;
}

.THIS div {
    outline:none !important;
}
.THIS {
    cursor: pointer;
}

.THIS.disabled {
    cursor: default;
}

.THIS .imgCls
{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) !important;
}

.THIS .titleTxt
{
    width: 91px;
    margin: 0 auto;
}

.THIS.disabled .titleTxt  {
    color: rgba(38, 75, 137, 0.5);
}

.THIS.disabled .imgCls {
    opacity:0.5;
}

.THIS .parent {
    justify-content: center;
    position: relative;
    width: 50%;
    padding: 30%;
}

.THIS .helpTooltilip{
    position: absolute;
    left: -110px;
    width: 366px !important;
    bottom: 113px;
}

.THIS .image_outer {
    position: absolute;
    z-index: 1;
    width: 80%;
    bottom: 0px;
    left: 0px;
}

.THIS .image_inner {
    position: absolute;
    z-index: 2;
    width: 30%;
    bottom: 23%;
    left: 25%;
}

.THIS .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #000000;
    text-align: right;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .outerdiv {
    height: 97px; 
    width: 97px;
    background: t(backgroundColor1);
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.THIS .font-size {
    font-size: 18px;
    padding-right: 0px;
}
    
.THIS .imagediv {
    height:40px;
    width:auto;
    vertical-align: middle;
}

.THIS .coming_soon {
    border-radius: 11.4px;
    background-color: #a3caff;
    width: 57px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #000000;
    position: relative;
    top: 10px;
    right: -40px;
    text-align: center;
}

.THIS .imagediv {
    position: relative;
}

.THIS.Icon-tzkir .imagediv {
    height: 28px;
    right:1px;
    top:1px;
}

.THIS.Icon-mshn .imagediv {
    height: 41px;
    right: -3px;
}

.THIS.Icon-nhlm .imagediv {
    height: 43px;
    right: 4px;
}

.THIS.Icon-mvhn .imagediv {
    height: 44px;
}

.THIS.Icon-filter-all .imagediv {
    height: 49px;
    top:-4px;
}

@media only screen and (max-width: 1230px) {
    .THIS .outerdiv {
        height: 75px; 
        width: 75px;
    }

	.THIS .font-size {
        font-size: 13px;
        padding-right: 0px;
    }

    .THIS .imagediv {
        height:30px;
        width:auto
    }

    .THIS .coming_soon {
        position: relative;
        top: 2px;
        right: -24px; 
        width:52px;
        z-index: 1;
    }

    .THIS.Icon-tzkir .imagediv {
        height: 22px;
        right: 1px;
        top: 1px;
    }

    .THIS.Icon-mshn .imagediv {
        height: 32px;
        right: -2px;
    }

    .THIS.Icon-nhlm .imagediv {
        height: 33px;
        right: 2px;
    }

    .THIS.Icon-mvhn .imagediv {
        height: 34px;
    }

    .THIS.Icon-filter-all .imagediv {
        height: 38px;
        top: -2px;
    }
}

@media (max-width: 950px) {

    .THIS .coming_soon {
        background-color: #ffe57d;
    }
}