.THIS {
}

.THIS .uploadedFile span {
    display: inline-block;
}

.THIS .uploadBar {
    width: calc( 100% - 60px );
    border-bottom: 2px solid #e6ebf8;
    margin-top: 39px;
}

.THIS .uploadedFile .percentage {
    background: #4b6bdf;
    height: 2px;
    display: block;
    position: relative;
    bottom: 0;
}

.THIS .size {
    color: #747474;
    margin-right: 10px;
}

.THIS .icon {
    background-image: url(/resource/communityAssets/pdf.png);
    width: 20px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 10px;
    padding: 0;
    position: relative;
    top: 10px;
}


.THIS .trash {
    background-image: url(/resource/communityAssets/trash.png);
    width: 20px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 10px;
    padding: 0;
    position: relative;
    top: 10px;
}

.THIS .loading .trash {
    background-image: url(/resource/communityAssets/clear.png);
}

.THIS .slds-file-selector__dropzone {
	border: 0 none;
}

.THIS .slds-file-selector {
	width: 100%;
	height: 77px;
	text-align: center;
    line-height: 70px;
}

.THIS .fileUploadField .slds-form-element__label {
	display: none;
}

.THIS lightning-primitive-icon {
    display: none;
}

.THIS lightning-primitive-file-droppable-zone
{
	width: 100%;
}

.THIS lightning-primitive-file-droppable-zone slot {
	width: 100%;
	border: dashed 2px #d2d4d9;
	background: #fff;
}

.THIS lightning-primitive-file-droppable-zone label {
	margin:0 auto;
	display: block;
	width:350px;
	padding-right: 20px;
	background-position: right;
	background-image: url(/resource/communityAssets/doc-upload.png);
	background-repeat: no-repeat;
}

.THIS lightning-primitive-file-droppable-zone .slds-button {
	border:0 none;
	float: right;
    margin-right: 16px;
    padding-right: 0;
}


@media only screen and (max-width: 950px) {
	.THIS .slds-file-selector_files {
		width: 100%;
		min-width: 100%;
		display: block;
		line-height:30px;
		height: auto;
		background-image: url(/resource/communityAssets/attach.png);
		background-position: right;
		background-repeat: no-repeat;
		line-height: 16px;
	}

	.THIS .slds-file-selector_files .slds-file-selector__text {
		display: none;
	}

	.THIS lightning-primitive-file-droppable-zone label {
		padding-right: 25px;
		width:auto;
	}

	.THIS lightning-primitive-file-droppable-zone .slds-button {
		margin-right: 0;
	}

	.THIS lightning-primitive-file-droppable-zone slot {
		display: block;
		text-align: right;
	}
	.THIS lightning-primitive-file-droppable-zone label {
		background-image: none;
	}
	.THIS lightning-primitive-file-droppable-zone slot {
		border:0 none;
		background: transparent;

	}
	.THIS lightning-primitive-file-droppable-zone .slds-button {
		float: none;
		background: transparent;
	}
}