.THIS .removeBtn lightning-primitive-icon
{
    margin-left: 0.5rem;
}
.THIS .slds-button__icon_left
{
    margin-left: 0 !important;
}

.THIS .headerText {    
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;
    margin-right: 3%;
}
.THIS .regText{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;   
    letter-spacing: normal;    
    color: #000000;
}

.THIS .inputs{
    width: 526px;
    height: 48px;    
    background-color: #ffffff;
}

.THIS .selects{
    width: 319px;
    height: 48px;
    background-color: #ffffff;
}

.THIS .slds-input {
    height: 48px;
    width:  526px;
}

.THIS .slds-select{
    height: 48px;
    width: 319px;
}

.THIS .slds-dropdown_length-with-icon-10{
    border: none;
}