.THIS.slds-input__icon
{
    display: none !important;
}
.THIS.slds-input__icon.slds-input__icon_right.slds-button.slds-button_icon
{
	display: none !important;
}
.THIS .slds-input__icon-group_right 
{
	display: none;
}
.THIS .slds-form-element__legend
{
	float: none !important;
}