<apex:page standardController="Law_Item__c" extensions="Ctrl_CancelItem" showQuickActionVfHeader="false" lightningStylesheets="true">

	<script type='text/javascript' src='/canvas/sdk/js/publisher.js'></script>

	<apex:form id="form" dir="rtl" style="padding-top: 40px;">
		<div style="font-size: 20px;" align="center">
			<apex:outputText rendered="{!NOT(hasError)}">האם אתה בטוח שאתה רוצה לבטל פריט זה?</apex:outputText>
			<apex:outputText rendered="{!hasError}">רק מנהל מערכת/רפרנט בכיר יכול לבטל פריט זה</apex:outputText>
			<BR/><BR/>
			<div style="padding: 20px; " >
				<apex:commandButton value="כן" action="{!cancelItem}" rendered="{!NOT(hasError)}" reRender="form" style="margin-left: 40px; margin-top: 2px;"/>
				<apex:commandButton value="לא" oncomplete="Sfdc.canvas.publisher.publish({ name: 'publisher.close', payload:{ refresh: 'true' }});"/>
			</div>
		</div>
	</apex:form>
</apex:page>