.THIS .taby {
    width: 100%;
    background-color: #eff2f9;
    font-size: 18px;
    text-decoration: none;
    padding-left: 6% !important;
    padding-right: 6% !important;
}

.THIS .taby1 {
    width: 100%;
    background-color: #eff2f9;
    font-size: 18px;
    text-decoration: none;
}


.THIS .wide {
    width: 100%;
}
.THIS.ll {
    margin-left: 50% !important;
    margin-right: 50% !important;
    text-decoration: none !important;
}

.THIS .slds-tabs_default__content{
    background-color: #eff2f9;
}
.THIS .slds-tabs_default__link {
    text-decoration: none !important;    
}

.THIS .slds-tabs_default__nav{
 	justify-content: center !important;
    padding-right: 20% !important;     
}

.THIS .slds-tabs_default__item{
   /*padding-left:5.5% !important; 
    padding-right:6% !important; */
    align-content: center !important;
}